<div class="card-list-container py-5">
  <% skills.each do |skill| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <p class="card-text">skill:<%= skill.skill %></p>
            <span><i class="fas fa-user"></i>achieve<%= skill.achieve %></span>
            <%= button_to "Destroy", skill_path(skill), method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>