<h1 class="d-flex justify-content-center pictures-head">Logo</h1>

<div class="pictures-text">
    <p>
    Thank you for comming Logo site.</br>
    This is logos I made in illustrator.</br>
    I'm glad to see them.
    </p>
</div>

<div class="text-center">
    <img class = "pictures-content logos-content" src = "../assets/logo/logo1.jpg">
    <h3>Concept</h3>
    <p>
      写真と文字で表現できるロゴ。</br>
      言語化出来ない写真の情報と文字の情報を詰め込んだロゴを作りたいと思い作成しました。
    </p>
</div>