<h1 class="d-flex justify-content-center">Pictures</h1>

<div class="pictures-text">
    <p>
    Thank you for comming pictures site.</br>
    This is my fav pictures.</br>
    I took and retouched them because my hobby is retouching pictures.</br>
    I'm glad to see them.
    </p>
</div>

<div class="text-center">
    <img class = "pictures-content" src = "../assets/pictures/sunset.jpg">
    <img class = "pictures-content" src = "../assets/pictures/kyoto_load.jpg">
    <img class = "pictures-content" src = "../assets/pictures/sakura.jpg">
    <img class = "pictures-content" src = "../assets/pictures/sky.jpg">
    <img class = "pictures-content" src = "../assets/pictures/suiden.jpg">
    <img class = "pictures-content" src = "../assets/pictures/load1.jpg">
    <img class = "pictures-content" src = "../assets/pictures/load2.jpg">
    <img class = "pictures-content" src = "../assets/pictures/load3.jpg">
    <img class = "pictures-content" src = "../assets/pictures/enoshima.jpg">
    <img class = "pictures-content" src = "../assets/pictures/sky2.jpg">
    <img class = "pictures-content" src = "../assets/pictures/sakura2.jpg">
    <img class = "pictures-content" src = "../assets/pictures/gramping.jpg">
    <img class = "pictures-content" src = "../assets/pictures/food1.jpg">
    <img class = "pictures-content mb-5" src = "../assets/pictures/sea.jpg">
</div>