<%= form_with(model: @qiita_item, url: personal_path(@qiita_item), method: :patch, multipart: true) do |f| %>
  
    <p>現在の画像:</p>
    <p>新しい画像を選択:</p>
  
    <p>画像をアップロード:</p>
    <%= f.file_field :image %>
  
    <%= f.submit "更新" %>
  <% end %>
